* {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
#header {
    padding: 50px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav a {
    color: #1E1928;
font-size: 21px;
font-weight: 400;
line-height: 20px; /* 142.857% */
margin-left: 40px;
text-decoration: none;
}